@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.first-class{
  text-align : center;
}



}
#colorChange{
  color: pink;
}

.backgroundChange{
  background-color: PaleTurquoise;
}

#box{
  background-color: pink;
  width: 100;
  height: auto;
}

body{
  font-family: 'Dancing Script', cursive;
}


header{
  background-color: PaleTurquoise;
  width: auto;
  height: 200px;
  margin: 0 auto;
  margin-top: -25px;
}

main{
  background-color: white;
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: -16px;
}

footer {
    width: auto;
    height: 50px;
    background-color:PaleTurquoise;
    margin: 0 auto;
}

nav{
  width: 110%;
  margin: 0 auto;
  background-color: pink;
}

nav ul{
width: 400px;
margin: 0 auto;
}
nav ul li a:hover{
  background-color:PaleTurquoise;

}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

nav ul li a:hover{
  color: gray;
}
