@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Gloria+Hallelujah');

body{
  background-color: green;
font-family: 'Cedarville Cursive', cursive;
}

.name{
  color:pink
}
.change{
  color:cyan;
}
#name{
  color:purple;
}
#change{
  color:white;
}
  #new{
    color:teal;
  }
  #puppytag{
    color:orange;
  }
  #address{
    color:red;
  }
  #gradient{
    width:200px;
    border:30px solid;
    border-image: repeating-linear-gradient(45deg, #f33, #3bf, #f33 30px) 60;
    padding: 20px;
  }

a{
       text-decoration: none;
       color: purple;
       font-weight: 900;
     }
     a:hover{
       color: white;
       text-decoration:inherit;
     }
     /* a:visited{
       color: red;
     } */
     p:last-child {
       color: lime;
     }
